*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-image: url(bg2.jpg);
    background-size: cover;
    height:650px;
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
}
.box1{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 10px;
    color: white;
} 
.nav1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(84, 31, 23);
    padding: 5px;
    /* gap: 130px; */
}
.box2{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}
.num1{
    background-color: blue;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(63, 60, 60,0.7);
    text-align: center;
}

.coff{
    color:rgb(255, 255, 255);
    padding:5px;
    font-size: 60px;
    
}
i{
    padding: 10px;
    color: rgb(52, 234, 92);
}
    
.menu{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    justify-content: center;
    padding:30px 0px
}

.menu div{
    width:400px ;
    background-color:white;
    padding:30px;
}


img{
    width:300px;
    margin: 30px 0px;
}

button{
    padding: 7px 15px;
    /* width: 20px; */
    /* height: 48px; */
    border-radius: 20px;
    /* border: none; */
    background-color: rgb(52, 234, 92);
    border: 1px solid rgb(253, 247, 247);

}
button:hover{
    background-color: rgb(158, 7, 145);
    color: rgb(255, 255, 255);
    border-radius: 30px;
}
